<div class="container">
  <h1 class="page-header">Rank</h1>
  <div class="col-xs-6 col-sm-4 genre">
    <label class>Genre</label>
     <select>
       <option value="any">Any</option>
       <option>Comedy</option>
       <option>2</option>
       <option>2</option>
       <option>2</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
    </select>
  </div>
  <div class="col-xs-6 col-sm-4 released-year">
    <label class>Released Year</label>
     <select>
       <option value="any">Any</option>
       <option>Comedy</option>
       <option>Comedy</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
    </select>
  </div>
</div>
