<div class="container">
  <h1 class="page-header">Rank</h1>
  <div class="col-xs-6 col-sm-4 genre">
    <label class>Genre</label>
     <select multiple="multiple" data-id="select" style="width: 60%">
       <option value="comedy">Comedy</option>
       <option>2</option>
       <option>2</option>
       <option>2</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
    </select>
  </div>
  <div class="col-xs-6 col-sm-4 released-year">
    <label class>Released Year</label>
     <select multiple="multiple" data-id="select" style="width: 30%">
       <% for y in (-current_year..1880)%>
         <option value=<%= -y %>><%= -y %></option>
       <% end %>
    </select>
  </div>
</div>

