<div class="container advanced-serach">
  <h1 class="page-header">Rank</h1>
   <%= form_tag do %>
    <div class="col-xs-6 col-sm-4 genre">
      <label class>Genre</label>
      <%= select_tag "people", options_for_select(movie_genres), multiple: true, style: "width: 60%", 'data-id': "select" %>
    </div>
    <div class="col-xs-6 col-sm-4 released-year">
      <label class>Released Year</label>
      <%= select_tag "people", options_for_select(released_years), multiple: true, style: "width: 30%", 'data-id': "select" %>
    </div>
    <button type="submit" class="btn btn-default" data-id="searchBTN">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  <% end %>
</div>

