<div class="container">
  <h1 class="page-header"> My List </h1>
  <% if @favorites.nil? %>
    <p class="bg-info"> Don't have any movies in your List </p>
  <% end %>
  <ul class="list-inline">
    <% @favorites.each do |favorite| %>
      <li>
        <div class="poster">
          <%= link_to my_list_path(list_id: favorite.id), method: :delete do %>
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
          <% end %>
          <%= link_to movie_path(favorite.movie_id) do %>
            <%= image_tag movie_poster(favorite) %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Home', '/' %>
</div>
