<div class="container">
  <h1 class="page-header"> My List </h1>
  <% if @favorites.nil? %>
    <p class="bg-info"> Don't have any movies in your List </p>
  <% end %>
  <ul class="list-inline">
    <% @favorites.each do |favorite| %>
      <li>
        <%= link_to movie_path(favorite.movie_id) do %>
          <div class="poster">
            <%= image_tag movie_poster(favorite) %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
