<div class="container">
  <div class="page-header">
    <h1 class="movie-title">@movie.title<small> Year </small></h1>
  </div>
  <div class="page-body">
    <h3><small>Rated | Runtime | Genre</small></h3>
    <img src="..." alt="140x140" class="img-rounded"/>
    <blockquote class="plot">
      <p>plot</p>
    </blockquote>
    <div class="movie-score">
      <h4 class="imdb">IMDB</h4>
      <h4 class="tomato">Rotten Tomato</h4>
    </div>
    <div class="movie-link">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Amazon</h3>
        </div>
        <div class="panel-body">
          <a href="">S1</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Netflix</h3>
        </div>
        <div class="panel-body">
          <a href="">S1</a>
        </div>
      </div>
    </div>
  </div>
</div>