<div class="container my-list">
  <h1 class="page-header"> My List </h1>
  <% if @my_lists.nil? %>
    <p class="bg-info"> Don't have any movies in your List </p>
  <% end %>
  <ul class="list-inline">
    <% @my_lists.each do |my_list| %>
      <li>
        <%= link_to movie_path(my_list.movie_id) do %>
          <div class="poster">
            <%= image_tag movie_poster(my_list) %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
