/*
 *= require_tree .
 *= require_self
 *= require magnific-popup
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic|Limelight|Lato:400,700|Plaster|Emblema+One);


/* Body */
/** For all **/
body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("/assets/body-background-img-sm.png");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  body { background-image: url("/assets/body-background-img-lg.png"); }
  background-size: contain;
}

main { margin-top: 70px; }

section {
  background-color: rgba(200, 200, 200, 0.7);
  padding-bottom: 40px;
}

a { color: inherit; }

a:hover { text-decoration: none; }

table { margin-top: 30px; }

.form-horizontal .control-label { text-align: left; }

.page-header {
  color: #52504E;
  font-weight: 700;
  padding-bottom: 15px !important;
}

.bg-danger {
  color: #BD1550;
  font-size: 15px;
  padding: 5px 10px;
}

/* Navigation Bar */
.navbar-default { background-color: #eee; }

.container {
  position: relative;
  max-width: 95%;
}

.navbar-default .navbar-brand { color: #333333; }

.navbar-brand {
  font-family: 'Limelight', cursive;
  font-size: 2.3em;
}

.glyphicon-menu-hamburger {
  font-size: 1.8em;
  padding: 10px 5px;
  position: absolute;
  right: 55px;
}

.glyphicon-menu-hamburger:hover { cursor: pointer; }

.nav-menu {
  background-color: #eee;
  display: none;
  font-size: 1.1em;
  padding: 0 10px;
  position: absolute;
  top: 52px;
  left: -20px;
  width: 110%;
}

.navbar-nav, .navbar-nav > li { float: none; }

.navbar-default .navbar-nav > li { padding: 0 15px; }

.navbar-default .navbar-nav > li > a {
  color: #333333;
  display: inline-block;
  font-weight: bolder;
}

.navbar-default .navbar-nav > li > a:hover { color: #aaa; }

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #eee;
}

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-brand { margin-right: 30px; }

  .glyphicon-menu-hamburger { display: none; }

  .nav-menu {
    display: block;
    position: static;
  }

  .navbar-default .navbar-nav > li {
    float: left;
    padding: 0 10px;
  }
}

/** Serach Box **/
.glyphicon-search {
  background-color: #333333;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1em;
  margin: 0 15px;
  padding: 7px;
  position: absolute;
  right: 0;
  top: 8px;
}

.glyphicon-search:hover { cursor: pointer; }

.navbar-form {
  display: none;
  background-color: rgba(65, 65, 65, 0.9);
  border: none;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .navbar-form { padding: 10px 15px; }
}

.navbar-form > form {
  display: inline-block;
  margin: 0;
  width: 90%;
  padding: 0;
}

.navbar-form .form-control { width: 100%; }

.glyphicon-remove {
  color: #fff;
  float: right;
  font-size: 1.3em;
  padding: 0 5px;
}

.glyphicon-remove:hover { cursor: pointer; }

/** Accoount **/
.account-menu {
  border-top: 1px solid #eee;
  display: none;
  margin-top: -5px;
  margin-left: 20px;
}

.navbar-default .navbar-nav > li > ul > li > a {
  color: #666;
  padding: 10px;
}

.caret { margin-left: 5px; }

.unfold {
  border-bottom: 4px dashed;
  border-top: 0 none;
}

@media only screen and (min-width: 768px) {
  .account-menu {
    background-color: #eee;
    margin: 0 0;
    position: absolute;
  }

  .account-menu > .divider {
    background-color: #fff;
    width: 100%
  }
}
