/*
 *= require_tree .
 *= require_self
 *= require magnific-popup
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic|Limelight|Lato:400,700|Plaster|Emblema+One);


/* Body */
/** For all **/
body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("/assets/body-background-img-sm.png");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  body { background-image: url("/assets/body-background-img-lg.png"); }
  background-size: contain;
}

a { color: inherit; }

a:hover { text-decoration: none; }

/* Navigation Bar */
.navbar-default { background-color: rgba(190, 190, 190, 0.3); }

.container {
  position: relative;
  max-width: 95%;
}

.navbar-default .navbar-brand { color: #333333; }

.navbar-brand {
  font-family: 'Limelight', cursive;
  font-size: 2.3em;
}

.open { display: block !important; }

.glyphicon-menu-hamburger {
  font-size: 1.8em;
  padding: 10px 5px;
  position: absolute;
  right: 55px;
}

.glyphicon-menu-hamburger:hover { cursor: pointer; }

@media only screen and (max-width: 480px) {
  .glyphicon-menu-hamburger > span { display: none; }
}

.menu {
  background-color: rgba(153, 153, 153, 0.5);
  font-size: 1.1em;
  padding: 0 10px;
  position: absolute;
  top: 52px;
  left: -20px;
  width: 110%;
}

.navbar-nav, .navbar-nav > li { float: none; }

.navbar-default .navbar-nav > li { padding: 0 15px; }

.navbar-default .navbar-nav > li > a {
  color: #333333;
  display: inline-block;
  font-weight: bolder;
}

.navbar-default .navbar-nav > li > a:hover { color: #fff; }

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #eee;
}

.glyphicon-search {
  background-color: #333333;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1em;
  margin: 0 15px;
  padding: 7px;
  position: absolute;
  right: 0;
  top: 8px;
}

.glyphicon-search:hover { cursor: pointer; }

.navbar-form{
  display: none;
  background-color: rgba(65, 65, 65, 0.9);
  border: none;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar-form > form {
  display: inline-block;
  margin: 0;
  width: 90%;
  padding: 0;
}

.glyphicon-remove {
  color: #fff;
  float: right;
  font-size: 1.3em;
  padding: 0 5px;
}

.glyphicon-remove:hover { cursor: pointer; }

/** Accoount **/
.account-menu {
  border-top: 1px solid #eee;
  margin-top: -5px;
  margin-left: 20px;
}

.navbar-default .navbar-nav > li > ul > li > a {
  color: #666;
  padding: 10px;
}

.account-menu > li:nth-of-type(3) { border-top: 1px solid #eee }

.caret { margin-left: 5px; }

.user {
}

/* General */
main { margin-top: 270px; }

table { margin-top: 30px; }

.form-horizontal .control-label { text-align: left; }

.page-header {
  color: #52504E;
  font-weight: 700;
  padding-bottom: 15px !important;
}

.bg-danger {
  color: #BD1550;
  font-size: 15px;
  padding: 5px 10px;
}
