/*
 *= require_tree .
 *= require_self
 *= require magnific-popup
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic|Limelight|Lato:400,700|Plaster|Emblema+One);

/* General */
table { margin-top: 30px; }

body { font-family: 'Ubuntu', sans-serif; }

.body { margin-top: 50px; }

.form-horizontal .control-label { text-align: left; }

.bg-danger {
  color: #BD1550;
  font-size: 15px;
  padding: 5px 10px;
}

/* Header */
.navbar-fixed-top { background-color: #31302F; }

.navbar-default .navbar-brand {
  color: #F6F6F6;
  font-family: 'Limelight', cursive;
}

.navbar-brand { font-size: 30px; }

.navbar-default .navbar-nav > .active > a {
  background-color: #1A1A1A;
  color: #F6F6F6;
  margin-left: 30px;
}

.navbar-default .navbar-nav > .active > a:hover { background-color: #1A1A1A; }
.navbar-default .navbar-nav > li > a {
  color: #F6F6F6;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover { color: #9d9d9d !important; }

.navbar-form { float: left; }

/** Accoount **/
.account {
  float: right;
  margin-top: 10px;
}

.glyphicon-user {
  color: #F6F6F6;
  font-size: 22px;
  padding-left: 20px;
  top: 5px !important;
}

.dropdown-menu {
  font-family: 'Ubuntu', sans-serif;
  top: 100%;
  left: 20%;
}

.open { display: block; }

.dropdown { cursor: pointer; }

.user {
  color: #F6F6F6;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: -15px;
  position: relative;
  top: -4px;
}

/* Footer */
.back-to-top {
  float: right;
  font-size: 15px;
  margin-top: 13px;
}

.glyphicon-menu-up { padding-left: 5px; }

a:hover { text-decoration: none; }

.page-header {
  color: #52504E;
  font-weight: 700;
  padding-bottom: 15px !important;
}

/* Display For Smart Phone */
@media only screen and (max-width: 768px) {
  .body { margin-top: 200px; }
  .navbar-brand {
    display: block;
    float: none;
    max-width: 90%;
    text-align: center;
  }
  .nav > li { display: inline-block }
  .rank-menu {
    position: absolute;
    top: 130px;
  }
  .navbar-form {
    border: none !important;
    float: none;
    margin: 5px auto;
    max-width: 80%;
    width: 100%;
  }
  .account {
    margin-right: 30px;
    margin-top: 26px;
  }
}

