/* Result Page */
.result-message {
  background-color: #eee;
  color: #292C37;
  font-size: 1.1em;
  margin: 10px;
  padding: 12px;
}

table { color: #292C37; }

.title { color: #292C37; }

.title:hover {
  color: #9F111B;
  text-decoration: none;
}

@media all and (max-width: 480px) {
 .result > thead > tr > th:nth-of-type(3),
 .result > thead > tr > th:nth-of-type(4),
 .result > tbody > tr > td:nth-of-type(2),
 .result > tbody > tr > td:nth-of-type(3) {
   display: none
 }
}

/* Movie Show Page */
.page-main {
  background-color: rgba(260, 260, 260, 0.7);
  padding: 15px 25px;
}

/** Add My List **/
.page-header > small { margin: 10px 0; }

.glyphicon.glyphicon-plus-sign, .glyphicon.glyphicon-ok-sign {
  color: #333;
  font-size: 22px;
  top: 3px;
}

.glyphicon-plus-sign:hover, .glyphicon-ok-sign:hover {
  color: #111;
  cursor: pointer;
}

.list {
  color: #111;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -2px;
}

/** Movie Information **/
.movie-information { color: black; }

.movie-information > div, .movie-score > div,
.movie-poster, .movie-plot {
  display: inline-block;
}

.movie-info {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  line-height: 1.5;
  font-size: 11px;
  padding: 1px 5px;
  text-align: center;
}

.info {
  font-size: 12px;
  line-height: 2;
  padding-left: 6px;
  padding-right: 20px;
}

.rate {
  color: black;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 20px 0 7px;
}

/** Movie Poster **/
.movie-poster { margin: 30px 0; }

.img-thumbnail {
  height: 360px;
  width: 240px;
}

/** Movie Plot **/
.movie-plot {
  border-left: 7px solid #777;
  color: black;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  padding: 5px 20px;
}

@media only screen and (min-width: 768px) {
  .movie-plot {
    position: absolute;
    margin: 50px;
  }
}

/** Movie Trailer **/
.movie-trailer { margin: 10px 0; }

.movie-trailer > button {
  background-color: #52504E;
  border: 1px solid #222;
  border-radius: 4px;
  color: #FCFEF5;
  display: block;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
  padding: 5px 5px;
  position: relative;
  text-align: center;
}

/** Watch link **/
.panel-title {
  color: #555 !important;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.netflix { margin-right: 30px; }

.error { padding: 50px 100px !important; }

.error > .lead {
  line-height: 1.5;
  padding: 10px;
  margin-top: 200px;
}

.error > a { padding: 0 10px; }

.error > img {
  display: block;
  position: relative;
  left: 460px;
  top: -330px;
}
