.page-header > .btn-xs {
  margin-left: 45px;
  margin-bottom: -15px;
}

/** Filter **/
.glyphicon-chevron-down { margin-left: 5px; }

.option-setting {
  background-color: #bbb;
  display: none;
  padding: 10px;
  margin-top: -15px;
}

.genre, .year, .reviewer {
  display: block;
  padding: 5px 0;
}

.genre label, .year label, .reviewer label {
  width: 70px;
}

.select2-results .select2-highlighted {
  background-color: #333 !important;
}

.select2-selection--single { height: 34px !important; }

.select2-selection--single > .select2-selection__rendered { line-height: 32px !important; }

.option-setting > button { margin-left: 77%; }

@media only screen and (min-width: 992px) {
  .genre, .year, .reviewer { display: inline-block; }

  .genre { width: 35% }

  .year { width: 27%; }

  .reviewer { width: 37%; }

  .genre label, .year label, .reviewer label {
    margin-right: 5px;
    width: auto;
  }

  .option-setting > button { margin-left: 90%; }
}

/** Raning List **/
.rank { text-align: center; }

.rank-poster { position: relative; }

.rank-num {
  color: #140000;
  font-family: 'Plaster', cursive;
  font-size: 70px;
  position: relative;
  text-shadow:
    -3px -3px 2px #8f0000,
    -2px -2px 2px #660000,
    -1px -1px 0px #3d0000,
    0px 1px 0px #3d0000,
    1px 0px 0px #3d0000,
    1px 2px 1px #3d0000,
    2px 1px 1px #3d0000,
    2px 3px 2px #660000,
    3px 2px 2px #660000,
    3px 4px 2px #8f0000,
    4px 3px 3px #8f0000,
    4px 5px 3px #b80000,
    5px 4px 2px #b80000,
    5px 6px 2px #e00000,
    6px 5px 2px #e00000,
    6px 7px 1px #ff0a0a,
    7px 6px 1px #ff0a0a,
    7px 8px 0px #ff3333,
    8px 7px 0px #ff3333;
  top: -300px;
}

.rank-title {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: 'Emblema One', cursive;
  font-size: 18px;
  height: 55px;
  padding-left: 10px;
  position: relative;
  text-align: left;
  top: -310px;
  max-width: 100%;
}

