.page-header > .btn-xs {
  margin-left: 45px;
  margin-bottom: -15px;
}

.option-setting { display: none; }

.glyphicon-chevron-down { margin-left: 5px; }

.released-year label, .genre label { padding: 6px 12px; }

.released-year label { max-width: 40% }

.genre label { max-width: 25%; }

.select2-results .select2-highlighted {
  background-color: #333 !important;
}

.option-setting > button {
  position: relative;
  top: -35px;
  left: 30%;
}

.rank-poster { position: relative; }

.rank-num {
  color: #140000;
  font-family: 'Plaster', cursive;
  font-size: 70px;
  position: relative;
  text-shadow:
    -3px -3px 2px #8f0000,
    -2px -2px 2px #660000,
    -1px -1px 0px #3d0000,
    0px 1px 0px #3d0000,
    1px 0px 0px #3d0000,
    1px 2px 1px #3d0000,
    2px 1px 1px #3d0000,
    2px 3px 2px #660000,
    3px 2px 2px #660000,
    3px 4px 2px #8f0000,
    4px 3px 3px #8f0000,
    4px 5px 3px #b80000,
    5px 4px 2px #b80000,
    5px 6px 2px #e00000,
    6px 5px 2px #e00000,
    6px 7px 1px #ff0a0a,
    7px 6px 1px #ff0a0a,
    7px 8px 0px #ff3333,
    8px 7px 0px #ff3333;
  top: -300px;
}

.one { left: 90px; }

.two { left: 80px; }

.rank-title {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: 'Emblema One', cursive;
  font-size: 18px;
  height: 55px;
  padding-left: 10px;
  position: relative;
  text-align: left;
  top: -310px;
  max-width: 100%;
}

