<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a class="back-to-top" href="#top">
      <span class="label label-default">Back to top
        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
      </span>
    </a>
  </div>
</footer>
