<header class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
  <div class="container">
    <a class="navbar-brand" href="/">Movie Search</a>
    <div class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Movie Title" data-id="searchWord">
      </div>
      <button type="submit" class="btn btn-default" data-id="searchBTN">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</header>
